.friend-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .friend-avatar {
    border-radius: 50%;
  }
  
  .friend-name {
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .status {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
  }
  
  .online {
    color: green;
  }
  
  .offline {
    color: red;
  }
  